
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.hero {
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}
.logo {
  height: 40px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1em;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
.section {
  padding: 4em 2em;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5em;
}
.product img {
  width: 100%;
}
.footer {
  background-color: #333;
  color: white;
  padding: 2em;
  text-align: center;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer li {
  display: inline;
  margin: 0 1em;
}


.button-img-style {
  background-image: url("../images/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  color: white;
  padding: 1em 2em;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 12px;
}
